<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Login form</title>
    <style>
        body{
            background-color: #f0f0f0;
        }
        .vh-100 {
            margin-top: 100px; /* Adjust the value as needed */
           
        }
        .img-container {
        margin-bottom: 200px; 
        }
        /* Changing form input field color to white */
        .form-control {
            background-color: #ffffff; /* White background color */
            border: 1px solid #ced4da; /* Border color */
        }
    </style>
</head>

<body>
    
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5 img-container">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form id="loginForm" action="/login" method="POST" onsubmit="return validateForm()">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="email" class="form-control form-control-lg"
                                placeholder="Enter your email address" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" name="password" id="password" class="form-control form-control-lg"
                                placeholder="Enter password" />
                        </div>

                        <!-- Error message for invalid email or password -->
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        </div>
                    </form>
                    
                    <form action="/register" method="GET">
                        <div class="text-center text-lg-start mt-4 pt-1 mb-0">
                            <p class="small fw-bold mt-2">Don't have an account?</p>
                            <button type="submit" class="btn btn-link">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        function validateForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}\-{:;"'?/>.<,]).{8,}$/;

            if (username.trim() === "") {
                alert("Email address is required");
                return false;
            } else if (!emailRegex.test(username)) {
                alert("Please enter a valid email address");
                return false;
            }

            if (password.trim() === "") {
                alert("Password is required");
                return false;
            } else if (!passwordRegex.test(password)) {
                alert("Password must be at least 8 characters long and contain at least one digit, one lowercase letter, one uppercase letter, and one special character");
                return false;
            }

            return true;
        }
    </script>
</body>

</html>
